@use 'node_modules/wt-frontend/build/global/theme' with (
    $primary-color: #ffc800,
    $background-color: rgb(64, 69, 78),//#d9d6cc,
    $navbar-background-color: #353a44,//rgb(64, 69, 78),
    $sidebar-background-color: #2b2e36,//#353a44,
    $text-color: #e9edf0,
    $modal-background: rgb(64, 69, 78),
    $modal-section-padding: 24px,
    $modal-radius: 4px,
    $modal-border: 1px solid rgb(87, 93, 105),
    $modal-button-color: rgba(255,255,255, 0.7),
    $modal-button-hover: #e9edf0,
    $button-text-color: black,
    // other variable changes here
);

@use 'node_modules/wt-frontend/build/global/wolfie' as *;
@use 'node_modules/wt-frontend/build/global/components';

#root {
    height: 100vh;
}

html {
    height: 100%;
}

/* ----------------------------- Top-Level Setup ---------------------------- */
.container-primary {
    width: 100%;
    height: 100%;
    padding: 0 24px;
}

.container-secondary {
    width: 100%;
    height: 100%;
    display: flex;
}

.welcome-image{
    width: 500px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
}

.welcome-text{
    padding-top: 50px;
}

.wallet-pannel-left{
    width: 40%;
    float: left;
    display: inline;
    height: 100%;
}

.wallet-pannel-right{
    width: 60%;
    float: left;
    display: inline;
    height: 100%;
}

.qrcode{
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 10%;
}

.wallet-div{
    width: 100%;
    height: 90%;
    margin-right: 5%;
}

.wallet-header{
    text-align: center;
    font-size: 1.5vw;
    font-weight: bold;
    width: 50%;
    height: 20%;
    margin: auto;
    display: block;
}

.wallet-main{
    display: flex;
    height: 600px;
}

#wallet-container{
    padding: 20px;
    width: 50%;
    height: 20%;
    margin-left: auto;
    margin-right: auto;
}

#wallet-balance{
    margin-left: 10%;
    margin-top: 10%;
    padding: 5%;
}
#wallet-trend-pos, #wallet-trend-neg{
    margin-left: 30%;
    margin-top: 5%;
    padding: 5%;
    width: 50%;
}

.line-graph{
    margin-top: 15%;
}

#wallet-button{
    margin-top: 10%;
    height: 10%;
    margin-left: 25%;
    margin-right: 25%;
    width: 55%;
    padding-top: 5%;
}

