@use 'node_modules/wt-frontend/build/global/theme' with ( 
$primary-color: #DEF2F1, 
$background-color: #191919, 
$navbar-background-color: #252525, //rgb(64, 69, 78),
$sidebar-background-color: #2b2e36, //#353a44,
$text-color: #F2F3F4, 
$modal-background: #F2F3F4,
$modal-section-padding: 24px, 
$modal-radius: 4px, 
$modal-border: 1px solid rgb(87, 93, 105), //No
$modal-button-color: rgba(255, 255, 255, 0.7), //NO
$modal-button-hover: purple, 
$button-text-color: black,
);

@use "sass:color";

@use 'node_modules/wt-frontend/build/global/wolfie' as *;
@use 'node_modules/wt-frontend/build/global/components';
:root {
    --warm-white: #f9f7f1;
    --warm-white-transparent: #f9f7f111;
    --warmer-white: #f9f7dd;
    --blue-slate: #2c3437;
    --light-green: #99cc7d;
    --lighter-green: #bdfc9b;
    --light-orange: #f5bc75;
    --light-blue: #8ed4f8;
    --light-purple: #dbbdf9;
    --light-pink: #fbb4d2;
    --light-yellow: #e6db74;
    --light-beige: #d9d6cc;
    --light-gray: #e9edf0;
    --bright-orange: #fca234;
    --yellow-orange: #ffc80e;
    --hover-light: rgba(255, 255, 255, 0.7);
    --deep-blue: rgb(64, 69, 78);
    --deep-blue-lighter: rgb(87, 93, 105);
    /* --deep-blue:  #282c34; */
    --button-transparent: rgba(255, 255, 255, 0);
    --deep-blue-darker: #353a44;
    /* --deep-blue-darker:  #282c34; */
    --blue-gray: #7e8084;
    --darkblue-gray: #2b2e36;
    --warm-black: #322d2d;
    --button-color: #990054;
    --button-hover-color:rgb(0, 169, 236);
    
}

$button-background-color: #252525; //Same as navbar background color
$button-background-color-hover: #454545;
$main-content-background-color: #29292B; //Might Change

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Yanone+Kaffeesatz:wght@200;300;350;400;500;600;700&display=swap');
html{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: $background-color;
    color: $text-color;
    height:100%;
}


.screenContainer{
    background-color: $navbar-background-color;
    border-radius: 0.5%;
    border: 2px outset $text-color;
}
.screenHeader{
    color: $text-color;
    background-color: $navbar-background-color;
    border-bottom: 1px outset $text-color;
    font-size: 36px;
    font-weight: 600;
}
.screenMain{
    background-color: $main-content-background-color;
    color: $text-color;
}

//Welcome Screen
//Welcome Screen
//Welcome Screen
.welcome-text {
    text-align: center;
    color: $text-color;
    font-weight: 500;
}
//Welcome Screen
//Welcome Screen
//Welcome Screen

//MODAL STUFF
//MODAL STUFF
//MODAL STUFF
.modal-header{
    background-color: $button-background-color;
    color: $text-color;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
}
.modal-main{
    background-color: $modal-background;
    border-width: 2px;
    border-color: $button-background-color;
    border-style: solid;
    color: #262626;
}

.modal-button, .modal-button-1{
    color: $text-color;
    font-size: 27px;
    font-weight: 400;
    background-color: $button-background-color;
    text-align: center;
}
.modal-button:hover, .modal-button-1:hover{
    background-color: $button-background-color-hover;
}

//MODAL STUFF
//MODAL STUFF
//MODAL STUFF




//NAVBAR STUFF
//NAVBAR STUFF
//NAVBAR STUFF
.navbar-options {
    text-align: center;
    color: $primary-color;
    font-weight: bold;
}

.menu-outer {
    height: 15%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.table {
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 1%;
    display: flex;
    /* Allow the centering to work */
    background-color: $navbar-background-color;
    border-radius: 1.5%;
    border-style: outset;
    border: 2px outset $text-color;
}


ul.horizontal-list {
    margin: auto;
    padding-inline-start: 0px;
    list-style: none;
    width: 75vw;
    display: flex;
    flex-direction: row;
    row-gap: 0.5em;
}

ul.horizontal-list li {
    text-align: center;
    height: 100%;
    width: 200%;
    color: black;
    
}

button.wbutton{
    font-size: 1.5em;
    //Set font weight to bolder than bold
    font-weight: 500;
}

input{
    background-color: $navbar-background-color;
    color: #262626;
}
//NAVBAR STUFF
//NAVBAR STUFF
//NAVBAR STUFF


//Market Styles
//Market Styles
//Market Styles
.marketChart{
    font-size: 30px;
    background-color: #262626;
}
.marketGraph{//Stores Price Info
    font-size: 2em;
    font-weight: 300;
    height: 100vh;
}
.marketGraphContainer{
    background-color: #262626;
}
.marketCoinListItem{
    cursor: pointer;
    font-size: 2em;
    background-color: $button-background-color;
    border: 3px outset $main-content-background-color;
    height: 50px;
}
//Market Styles
//Market Styles
//Market Styles




/*PROFILE SCREEN*/
.profileScreen{
    background-color: $navbar-background-color;
}
.profileMain{
}
.profileInfo{
    background-color: $background-color;
}
.profileCryptosHeld{}
.profileCryptoList{}

.profileFriends{
    background-color: $background-color;
}
.profileFriendsList{}

.friendsListHeader{
    font-size: 22px;
    font-weight: bold;
}

.listHeader{
    font-size: 22px;
    font-weight: bold;
}


.profileListHeader{
    background-color: $primary-color;
    color: black;
}

.addFriendButton{
    background-color: $text-color;
}
.addFriendButton:hover{
    background-color: $background-color;
}

#addFriendIcon{
    color: $primary-color;
}

.profileAddFriend{}

.friend{
    color: white;
}


//GAME STUFF
//GAME STUFF
//GAME STUFF
.req-main,.score-main{
    background-color: $sidebar-background-color;
    color: $primary-color;
    font-size: 1.5em;
}

.score-main:hover{
    background-color: $primary-color;
    color: $sidebar-background-color;
}

.req-main:hover{
    background-color: $primary-color;
    color: $sidebar-background-color;
}

.play-button{
    background-color: #00a2ff;
    color: $text-color;
    border-radius: 10px;
    text-align: center;
}

.play-button:hover{
    background-color: #0065a0;
    cursor: pointer;
}

.play-button:active{
    border-width: 2px;
    border-style: solid;
    border-color: black;
}

.req-acc{
    background-color: #03ca67;
    color: $text-color;
    border-radius: 10px;
}

.req-acc:hover{
    background-color: #00ff80;
    cursor: pointer;
}

.req-acc:active{
    border-width: 2px;
    border-style: solid;
    border-color: black;
}

.req-dec{
    background-color: #940031;
    color: $text-color;
    border-radius: 10px;
}

.req-dec:hover{
    background-color: #ce0045;
    cursor: pointer;
}

.req-dec:active{
    border-width: 2px;
    border-style: solid;
    border-color: black;
}

.req-info,.req-acc,.req-dec,.score-info{
    text-align: center;
}

.gc-back{
    background-color: $sidebar-background-color;
    color: $primary-color;
    font-size: 1.5em;
    text-align: center;
}
.gc-back:hover{
    background-color: $primary-color;
    color: $sidebar-background-color;
    cursor: pointer;
}
.gc-back:active{
    border-width: 2px;
    border-style: solid;
    border-color: black;
}
.gc-pannel-l,.gc-pannel-r{
    background-color: $background-color;
}
.gc-button{
    background-color: $primary-color;
    color: $sidebar-background-color;
    text-align: center;
    font-size: 1.7em;
}
.gc-button:hover{
    background-color: $sidebar-background-color;
    color: $primary-color;
    cursor: pointer;
}
.gc-button:active
{
    border-width: 2px;
    border-style: solid;
    border-color: black;
}
#gc-container{
    color: $text-color;
    background-color: $navbar-background-color;
}
.gc-main{
    background-color: $navbar-background-color;
}
.gc-header{
    background-color: $primary-color;
}
.gc-bal{
    background-color: $primary-color;
}
.gc-bal-button{
    color: green;
}
.gc-bal-button:hover{
    color: rgb(1, 226, 1);
    background-color: $background-color;
    cursor: pointer;
}
.gc-bal-button:active{
    background-color: $sidebar-background-color;
}
.chal-main{
    background-color: $primary-color;
    border-width: 2px;
    border-color: $navbar-background-color;
    border-style: solid;
    color: #262626;
}
.chal-button{
    background-color: $navbar-background-color;
    color: $text-color;
    font-size: 1.1em;
}
.chal-button:hover{
    background-color: $text-color;
    color: $primary-color;
    cursor: pointer;
}
.chal-button:active{
    border-width: 2px;
    border-style: solid;
    border-color: black;
}
.req-list{
    background-color: $background-color;
}

//Gaming Styles

//Simon Says Game

.ss-blue-tile{
    background-color: blue;
    width: 100%;
    height:100%;
    font-size: 2.5em;
    text-align: center;
}
.ss-red-tile{
    background-color: red;
    width: 100%;
    height:100%;
    font-size: 2.5em;
    text-align: center;
}

//Memory Game
.mem-cell{
    background-color: $primary-color;
    color: $sidebar-background-color;
    width: 100%;
    height:100%;
    font-size: 2.5em;
    text-align: center;
}
.mem-cell:hover{
    background-color: $sidebar-background-color;
    color: $primary-color;
    cursor: pointer;
}
.mem-main{
    width: 60%;
    height: auto;
    margin: auto;
}
.mem-grid{
    display: grid;
    background-color: #000;
    grid-template-rows: repeat(3,1fr);
    grid-template-columns: repeat(3,1fr);
}
.mem-score{
    font-size: 3.5em;
    text-align: center;
    display: block;
    margin: auto;
}


//WALLET STUFF
//WALLET STUFF
//WALLET STUFF

.wallet-div{
    background-color: $primary-color;
}

.wallet-main{
    background-color: $navbar-background-color;
}

.wallet-header{
    background-color: $primary-color;
}

.wallet-pannel-left{
    background-color: $primary-color;
}

.wallet-pannel-right{
    background-color: $primary-color;
}

#wallet-container{
    color: $text-color;
    background-color: $navbar-background-color;
}

#wallet-button{
    color: $text-color;
    font-size: 1.5em;
    background-color: $navbar-background-color;
    text-align: center;
}

#wallet-button:hover{
    background-color: $background-color;
    color: $primary-color;
    cursor: pointer;
}

#wallet-button:active{
    border-width: 2px;
    border-style: solid;
    border-color: black;
}




#wallet-balance{
    font-size: 1.5em;
    border-width: 2px;
    border-style: solid;
    border-color: $navbar-background-color;
}

#wallet-trend-pos{
    font-size: 1.5em;
    border-width: 2px;
    border-style: solid;
    border-color: $navbar-background-color;
    color: rgb(0, 141, 42);
}
#wallet-trend-neg{
    font-size: 1.5em;
    border-width: 2px;
    border-style: solid;
    border-color: $navbar-background-color;
    color: rgb(139, 2, 121);
}



// ************************** ACCOUNT SETTINGS *******************************
.account-div{
    background-color: $primary-color;
}

.account-main{
    background-color: $navbar-background-color;
}

.account-header{
    background-color: $primary-color;
}

.account-pannel-left{
    background-color: $primary-color;
}

.account-pannel-right{
    background-color: $primary-color;
}

#account-container{
    color: $text-color;
    background-color: $navbar-background-color;
}

#account-button{
    color: $text-color;
    font-size: 1.5em;
    background-color: $navbar-background-color;
    text-align: center;
}

#account-button:hover{
    background-color: $background-color;
    color: $primary-color;
    cursor: pointer;
}

#account-button:active{
    border-width: 2px;
    border-style: solid;
    border-color: black;
}

#account-info{
    font-size: 1.5em;
    border-width: 2px;
    border-style: solid;
    border-color: $navbar-background-color;
}

#account-trend-pos{
    font-size: 1.5em;
    border-width: 2px;
    border-style: solid;
    border-color: $navbar-background-color;
    color: rgb(0, 141, 42);
}
#account-trend-neg{
    font-size: 1.5em;
    border-width: 2px;
    border-style: solid;
    border-color: $navbar-background-color;
    color: rgb(139, 2, 121);
}

#banner-button,#banner-button,#banner-button-l{
    color: $text-color;
    font-size: 1.5em;
    background-color: $navbar-background-color;
    text-align: center;
}

#banner-button:hover,#banner-button:hover,#banner-button-l:hover{
    background-color: $background-color;
    color: $primary-color;
    cursor: pointer;
}

#banner-button:active,#banner-button:active,#banner-button-l:active{
    border-width: 2px;
    border-style: solid;
    border-color: black;
}

.banner-header{
    background-color: $navbar-background-color;
    color: $text-color;
    text-align: center;
    font-size: 1.5em;
}

.banner-main{
    background-color: $primary-color;
    border-width: 2px;
    border-color: $navbar-background-color;
    border-style: solid;
    color: #262626;
}

#picture-button,#picture-button,#picture-button-l{
    color: $text-color;
    font-size: 1.5em;
    background-color: $navbar-background-color;
    text-align: center;
}

#picture-button:hover,#picture-button:hover,#picture-button-l:hover{
    background-color: $background-color;
    color: $primary-color;
    cursor: pointer;
}

#picture-button:active,#picture-button:active,#picture-button-l:active{
    border-width: 2px;
    border-style: solid;
    border-color: black;
}

.picture-header{
    background-color: $navbar-background-color;
    color: $text-color;
    text-align: center;
    font-size: 1.5em;
}

.picture-main{
    background-color: $primary-color;
    border-width: 2px;
    border-color: $navbar-background-color;
    border-style: solid;
    color: #262626;
}
// ************************** ACCOUNT SETTINGS ********************************

@mixin object-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  $circleSize: 165px;
  $radius: 100px;
  $shadow: 0 0 10px 0 rgba(255,255,255,.35);
  $fontColor: rgb(250,250,250);
  
  .profile-pic {
    color: transparent;
    transition: all .3s ease;
    @include object-center;
    position: relative;
    transition: all .3s ease;
    
    input {
      display: none;
    }
    
    img {
      position: absolute;
      object-fit: cover;
      width: $circleSize;
      height: $circleSize;
      box-shadow: $shadow;
      border-radius: $radius;
      z-index: 0;
    }
    
    .-label {
      cursor: pointer;
      height: $circleSize;
      width: $circleSize;
    }
    
    &:hover {
      .-label {
        @include object-center;
        //background-color: rgba(0,0,0,.8);
        z-index: 10000;
        color: $fontColor;
        transition: background-color .2s ease-in-out;
        border-radius: $radius;
        margin-bottom: 0;
      }
    }
    
    span {
      display: inline-flex;
      padding: .2em;
      height: 2em;
    }
  }
// ************************** PROFILE PICTURE ********************************

@mixin banner-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  $circleSize: 165px;
  $radius: 100px;
  $shadow: 0 0 10px 0 rgba(255,255,255,.35);
  $fontColor: rgb(250,250,250);

.banner-pic {
    color: transparent;
    transition: all .3s ease;
    @include banner-center;
    position: relative;
    transition: all .3s ease;

    input {
        display: none;
    }
    
    img {
        position: absolute;
        object-fit: cover;
        width: $circleSize;
        height: $circleSize;
        box-shadow: $shadow;
        border-radius: $radius;
        z-index: 0;
    }
    
    .banner-label {
      cursor: pointer;
      height: $circleSize;
      width: $circleSize;
    }

    &:hover {
        .banner-label {
          @include object-center;
          //background-color: rgba(0,0,0,.8);
          z-index: 10000;
          color: $fontColor;
          transition: background-color .2s ease-in-out;
          border-radius: $radius;
          margin-bottom: 0;
        }
      }

    span {
        display: inline-flex;
        padding: .2em;
        height: 2em;
      }
  }
// ************************** BANNER PICTURE ********************************